@media (max-width: 1439px) {
    .container {
        width: 1200px;
    }

    /*.footMenu .menuSelect {*/
    /*!*display: none;*!*/
    /*!*}*!*/
}


@media (max-width: 1199px) {
    .container {
        width: 950px;
    }

    .headWrap .backImg {
        height: 1545px;
    }

    header .headMenu a {
        font-size: 15px;
    }

    .menu .headMenu li + li {
        margin-left: 49px;
    }

    .contacts span[class="icon-soc1"] {
        left: 135px;
    }

    .contact {
        padding-left: 140px;
    }

    .tagline {
        margin-top: 20px;
    }

    .calc {
        width: 920px;
    }

    .runner input {
        width: 92%;
    }

    .calc .getMoney {
        line-height: 25px;
    }

    .selectPlan select {
        width: 330px;
    }

    .enterAmount input {
        width: 261px;
    }

    .profit span:first-child {
        font-size: 15px;
    }

    .calc .profit div {
        width: 140px;
        margin: 5px 23px 0px 0px;;
    }

    .calc .line1 div + div {
        padding: 2px 30px 0px 12px;
    }

    .video {
        width: 920px;
    }

    .video a span[class="icon-video"] {
        left: 390px;
    }

    .about p {
        font-size: 15px;
    }

    .about .license {
        padding-left: 90px;
    }

    .about .imgLicense {
        display: none;
    }

    .rightItem span[class*="icon"] {
        top: -10px;
    }

    .subscribe .tCell span:nth-child(1) {
        font-size: 28px;
    }

    .subscribe .tCell span:nth-child(2) {
        font-size: 21px;
    }

    .diagramm {
        width: 34%;
        left: 33%;
        top: 267px;
    }

    .diagramm div:first-child {
        left: 34%;
    }

    .diagramm div:last-child {
        right: 73px;
    }

    .diagramm div:nth-child(2) {
        left: 45px;
    }

    .scaleStat {
        float: right;
        width: 600px;
        height: 315px;
    }

    .statTextWrap {
        margin: 130px 0px 60px 0px;
    }

    .statisticsText {
        float: left;
        width: calc(100% - 600px);
        padding: 0;
    }

    .referal .procent {
        left: 25%;
    }

    .footContacts span {
        padding: 18px 0px 21px 0px;
    }

    .footMenu ul {
        padding: 0px 45px 0px 0px
    }

    .footMenu {
        padding: 85px 0px;
        margin-left: 50px;
    }

    .footContacts span a {
        font-size: 14px;
        line-height: 32px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }

    .menu {
        padding: 41px 0px 0px 63px;
    }

    .menu .headMenu li + li {
        margin-left: 86px;
    }

    .contacts span[class="icon-support"] {
        right: 3px;
    }

    .contacts span[class="icon-soc1"] {
        left: 10px;
    }

    .contact {
        padding: 0;
    }

    .tagline1 {
        font-size: 34px;
        line-height: 69px;
    }

    .tagline2 {
        font-size: 77px;
        line-height: 71px;
    }

    .tagline3 {
        font-size: 15px;
        line-height: 10px;
    }

    .calc {
        width: 720px;
        height: 680px;
    }

    .calculator .captionDark::before {
        top: 630px;
    }

    .calc .runner {
        padding: 15px 15px;
        margin: 0;
    }

    .calc .line1 div + div {
        display: block;
        padding: 10px 0px;
    }

    .calculator .calc .line1 {
        padding: 15px 15px;
        margin: 0;
    }

    .enterAmount input {
        width: 258px;
    }

    .runner input {
        width: 91%;
    }


    .calc .profit {
        padding: 0px 8px;
    }

    .calc .profit div {
        width: 99px;
        margin: -15px 30px -2px 2px;
    }


    .headWrap .backImg {
        height: 1475px;
    }

    .profit span:first-child {
        font-size: 15px;
        line-height: 22px;
    }

    .profit span:nth-child(2) {
        font-size: 16px;
    }

    .btnColor1 {
        left: 38%;
    }

    .video {
        width: 720px;
        height: 450px;
    }

    .video a span[class="icon-video"] {
        left: 41%;
        top: 61px;
    }

    .video .captionVideo {
        padding: 210px;
    }

    .advantages {
        background-image: none !important;
    }

    .advantages [class*="icon"] {
        font-size: 60px;
    }

    .advantages .leftItem {
        padding: 55px 0px 35px 0px;
    }

    .advantages .rightItem {
        padding: 0;
    }

    .leftItem span[class*="icon"] {
        left: 11px;
    }

    .rightItem span[class*="icon"] {
        top: -6px;
        right: -24px;
    }

    .advantages .rightItem {
        padding: 55px 17px 0px 0px;
    }

    .btnBorder {
        font-size: 20px;
        width: 230px;
    }

    .subscribe .tCell span:nth-child(2) {
        font-size: 15px;
    }

    .subscribe .tCell span:nth-child(1) {
        font-size: 20px;
    }

    .subWrap .tCell {
        padding-left: 13px;
    }

    .tablesWrap .diagramm {
        display: none;
    }

    .scaleStat {
        float: right;
        width: 500px;
        height: 300px;
    }

    .statisticsText {
        width: calc(100% - 500px);
        padding: 0;
    }

    .statistics .statisticsText * {
        line-height: 16px;
        padding-bottom: 26px;
    }

    .referal .procent {
        left: 17%;
    }

    .referal .referalTitle {
        font-size: 33px;
    }

    .btnBorderGrad {
        font-size: 19px;
    }

    .logoFoot div:nth-child(2) {
        padding: 0px 0px 20px 0px;
    }

    .footMenu {
        margin-left: 10px;
    }

    .footMenu ul {
        padding: 0px 40px 0px 0px;
    }

    .footMenu .leftMenu {
        display: none;
    }

    .footMenu .rightMenu {
        display: none;
    }

    .menuSelect {
        display: block;
    }

    header .menuSelect select {
        background-color: transparent;
        display: none;
    }

    .footContacts span {
        padding: 18px 0px 33px 23px;
    }

    .footMenu {
        padding: 100px 0px;
    }

    .footContacts {
        float: left;
        padding: 77px 20px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .logo img {
        margin: -10px 10px 0px 20px;
    }

    .contacts span[class="icon-soc1"] {
        display: none;
    }

    .contacts span[class="icon-support"] {
        display: none;
    }

    .headMenu {
        display: none;
    }

    .menuSelect {
        display: block;
    }

    .menuSelect select {
        background-color: transparent;
    }

    .btnColor2 {
        font-size: 14px;
        line-height: 35px;
        width: 160px;
    }

    .btnColor3 {
        font-size: 14px;
        line-height: 35px;
        width: 160px;
    }

    .logSub a {
        margin-right: 15px;
        margin-top: 40px;
    }

    .sliderOffers [class*="card"] > span:nth-child(4) {
        font-size: 15px;
        line-height: 20px;
    }

    .sliderOffers [class*="card"] > span:nth-child(3) {
        font-size: 24px;
        line-height: 20px;
    }

    .sliderOffers [class*="icon"] {
        font-size: 40px;
    }

    .sliderOffers [class*="card"] > span:first-child {
        font-size: 30px;
        line-height: 33px;
    }

    .sliderOffers .card {
        padding: 10px 15px 0px;
    }

    .tagline1 {
        font-size: 26px;
        line-height: 60px;
    }

    .tagline2 {
        font-size: 62px;
        line-height: 71px;
    }

    .tagline3 {
        font-size: 14px;
        line-height: 5px;
        letter-spacing: 0.25em;
    }

    .loginOffers .captionLight {
        margin-top: 160px;
    }

    .headWrap .backImg {
        height: 835px;
    }

    .tagline {
        margin-top: 20px;
    }

    .captionLight span {
        font-size: 14px;
        line-height: 66px;
    }

    .captionLight h2 {
        font-size: 30px;
        line-height: 32px;
    }

    .captionDark span {
        font-size: 14px;
        line-height: 66px;
    }

    .captionDark h2 {
        font-size: 30px;
        line-height: 32px;
    }

    .calc .getMoney {
        display: none;
    }

    .calc .line1 div + div {
        padding: 5px 0px;
        font-size: 14px;
    }

    .selectPlan label {
        font-size: 14px;
        line-height: 25px
    }

    .selectPlan select {
        width: 300px;
        font-size: 14px;
        height: 40px;
    }


    .enterAmount label {
        font-size: 14px;
    }

    .calc .depositAmount span:nth-child(2) {
        font-size: 20px;
        line-height: 25px;
    }

    .runner label {
        font-size: 14px;
    }

    .runner input {
        width: 75%;
        height: 55px;
    }

    .enterAmount input {
        height: 40px;
    }

    .calc {
        width: 100%;
        height: 385px;
    }

    .profit {
        display: none;
    }

    .btnColor1 {
        font-size: 14px;
        line-height: 40px;
        width: 150px;
        bottom: -22px;
        left: 173px;
    }

    .about {
        display: none;
    }

    .advantages .captionDark {
        padding: 75px 0px 30px;
    }

    .advantages .leftItem p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
    }

    .advantages .rightItem p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
    }

    .advantages ul li {
        padding-bottom: 30px;
    }

    .advantages .rightItem {
        padding: 55px 17px 0px 15px;
    }

    .advantages .leftItem ul li {
        padding-bottom: 30px;
    }

    .advantages .rightItem ul li {
        padding-bottom: 40px;
    }

    .subWrap img {
        display: none;
    }

    .subscribe .tCell span:nth-child(1) {
        font-size: 14px;
    }

    .subscribe .tCell span:nth-child(2) {
        font-size: 14px;
    }

    .btnBorder {
        font-size: 15px;
        width: 135px;
    }
    .statistics {
        display: none;
    }

    .referal .procent {
        background-image: none!important;
    }

    .referal .captionDark {
        padding: 60px 0px 30px;
    }

    .referal .captionDark h2 {
        font-size: 25px;
        line-height: 20px;
    }

    .referal p:nth-child(2) {
        font-size: 14px;
        line-height: 20px;
    }

    .referal p:nth-child(3) {
        font-size: 14px;
        line-height: 22px;
    }

    .procent {
        display: none;
    }

    .referal .referalTitle {
        font-size: 21px;
    }

    .btnBorderGrad {
        font-size: 14px;
        padding: 14px 37px;
    }

    .referal .signUp {
        padding: 0px 0 55px;
    }


}

@media (max-width: 479px) {
    .container {
        width: 100%;
    }
}