* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Roboto Slab";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logoSpan1 {
    font-family: "Podkova ExtraBold";
    font-size: 20px;
    line-height: 20px;
    color: #ff9001;
    text-transform: uppercase;
    text-align: left;
}

.logoSpan2 {
    font-family: "Podkova ExtraBold";
    font-size: 62px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ff9001;
    text-align: left;
}

.logoSpan3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.6em;
    color: #333333;
    text-transform: uppercase;
}

header .phone {
    font-size: 30px;
    line-height: 20px;
    color: #ff692a;
    text-decoration: none;
}

header .supp {
    font-size: 17px;
    line-height: 20px;
    text-decoration: underline;
    color: #ff9001;
    font-weight: 300;
    letter-spacing: 0.05em;
}

header .contacts [class*="icon"] {
    font-size: 55px;
}

header .contacts a:not(.supp) {
    text-decoration: none;
}

header .headMenu a {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
}

.tagline1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
}

.tagline2 {
    font-family: Podkova;
    font-size: 133px;
    line-height: 133px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
}

.tagline3 {
    font-size: 25px;
    line-height: 70px;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.35em;
}

.btnColor2 {
    font-size: 17px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff692a;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.btnColor3 {
    font-size: 17px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff9001;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.captionLight {
    text-align: center;
}

.captionDark {
    text-align: center;
}

.captionLight span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #333333;
}

.captionLight h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #333333;
}

.captionDark span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #333333;
}

.captionDark h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #333333;
}

.sliderOffers [class*="icon"] {
    font-size: 92px;
}

.sliderOffers span:first-child {
    font-size: 70px;
    line-height: 40px;
    font-weight: 700;
    color: #333333;
}

.sliderOffers span:nth-child(3) {
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    color: #ff9001;
}

.sliderOffers span:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    color: #ff692a;
    font-weight: 300;
}

