*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button {
    -webkit-transition: all .3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover,
button:hover {
    opacity: 0.7;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Roboto Slab";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

[class*="icon"] {
    position: relative;
}

.headWrap {
    position: relative;
    z-index: 1;
}

.headWrap .backImg {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1650px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.bodyWrap {
    overflow: hidden;
}

header .logo {
    width: 50%;
    float: left;
    margin-top: 60px;
}

.logo span {
    display: block;
}

.logo img {
    float: left;
}

.logo img {
    margin: -3px 15px 0px 4px;
}

.logo span + span {
   padding: 2px 0px 0px 0px;
}

.logoSpan1 {
    font-family: "Podkova";
    font-size: 20px;
    line-height: 20px;
    color: #ff9001;
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
}

.logoSpan2 {
    font-family: "Podkova";
    font-size: 62px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ff9001;
    text-align: left;
    font-weight: 800;
}

.logoSpan3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.6em;
    color: #ffffff;
    text-transform: uppercase;
}

.contacts {
    width: 50%;
    float: right;
    padding-top: 60px;
    display: inline-block;
    position: relative;
}

.contacts a {
    display: block;
    text-align: center;
    padding: 19px 0px 0px 5px;
}

.contact {
    margin-top: -30px;
    padding-left: 210px;
}

.contacts span[class="icon-soc1"] {
    display: block;
    position: absolute;
    left: 210px;
    top: 70px;
}

.contact span {
    font-size: 19px;
    line-height: 19px;
    vertical-align: top;
}

.contact a {
    font-size: 33px;
    line-height: 20px;
    font-weight: 700;
    color: #ff692a;
}

.contacts span[class="icon-support"] {
    display: block;
    position: absolute;
    right: -4px;
    top: 69px;
}

span[class*="icon"] .path2,
[class*="icon"] .path2::before,
span[class*="icon"] .path3,
[class*="icon"] .path3::before,
span[class*="icon"] .path4,
[class*="icon"] .path4::before {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

header .supp {
    font-size: 17px;
    line-height: 20px;
    text-decoration: underline;
    color: #ff9001;
    font-weight: 300;
    letter-spacing: 0.05em;
}

header .contacts [class*="icon"] {
    font-size: 59px;
}

header .contacts a:not(.supp) {
    text-decoration: none;
}

.menu {
    width: 100%;
    float: left;
    padding: 41px 0px 0px 17px;
}

header .menu a:hover {
    color: #d38327;
}

.footMenu a:hover {
    color: #d38327;
}

.menu .headMenu li {
    display: inline-block;
    position: relative;
}

.menu .headMenu li + li {
    margin-left: 73px;
}

.headMenu li + li::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/png/list.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: calc(100% + 30px);
    top: 50%;
    margin-top: -7px;
}

header .headMenu a {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.tagline {
    text-align: left;
    margin-top: 79px;
}

.tagline1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.tagline2 {
    font-family: Podkova;
    font-size: 139px;
    line-height: 133px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.tagline3 {
    font-size: 25px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.36em;
}

.logSub a {
    display: inline-block;
    margin-right: 29px;
    margin-top: 101px;
    animation: buttonAnimation 4s infinite ease-in-out;
    animation-delay: 3s;
}

.btnColor2 {
    display: block;
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff692a;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.11);
}

.btnColor3 {
    display: block;
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff9001;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.11);
}

.loginOffers .captionLight {
    margin-top: 219px;
}

.captionLight {
    text-align: center;
    position: relative;
}

.loginOffers .captionLight::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff9001;
    position: absolute;
    left: 50%;
    margin-top: -40px;
}

.captionDark {
    text-align: center;
    position: relative;
}

.calculator .captionDark {
    padding: 195px 0px 50px;
}

.calculator .captionDark::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff9001;
    position: absolute;
    left: 50%;
    margin-top: -45px;
}

.about .captionLight::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff9001;
    position: absolute;
    left: 50%;
    margin-top: -40px;
}

.about .captionLight {
    padding: 125px 0 120px;
}

.advantages .captionDark::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff9001;
    position: absolute;
    left: 50%;
    margin-top: -40px;
}

.advantages .captionDark {
    padding: 160px 0px 45px;
}

.referal .captionDark {
    padding: 185px 0px 30px;
}

.referal .captionDark::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff9001;
    position: absolute;
    left: 50%;
    margin-top: -40px;
}

.captionLight span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

.captionLight h2 {
    font-size: 53px;
    line-height: 43px;
    font-weight: 700;
    color: #ffffff;
}

.captionLight b {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #ffffff;
}

.captionDark span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #333333;
}

.captionDark h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #333333;
}

.slider {
    padding: 80px 0px 60px 0px;
}

.slider .item {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    height: 335px;
    border: 1px solid #5d6464;
}

.slider .owl-nav > button[class*="owl"] {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
    top: 50%;
    color: #ff9001;
    margin-top: -30px;
    outline: none;
}

.slider .owl-nav button.owl-prev {
    left: -50px;
}

.slider .owl-nav button.owl-next {
    right: -50px;
}

.slider [class*="icon"] {
    font-size: 92px;
    position: absolute;
    top: 65px;
    left: 85px;
    display: block;
}

.slider [class*="icon-leftLight"] {
    top: -20px;
    left: -30px;
}

.slider [class*="icon-rightLight"] {
    top: -20px;
    right: -30px;
}

.slider [class*="item"] > span:first-child {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 70px;
    line-height: 40px;
    font-weight: 700;
    color: #333333;
}

.slider [class*="item"] > span:nth-child(3) {
    font-size: 45px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: #ff9001;
    display: block;
    padding-top: 200px;
}

.slider [class*="item"] > span:nth-child(4) {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #ff692a;
    font-weight: 300;
    display: block;
}

.calculator {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 270px;

}

.about {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #f7e2c9;
}

.subscribe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+1,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 1%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 1%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 1%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
}

.statistics {
    position: relative;
    z-index: 1;
}

.statistics .backImg {
    position: absolute;
    width: 1920px;
    height: 1291px;
    top: -13px;
    left: 50%;
    margin-left: -960px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.referal {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.payments {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.location .map {
    position: relative;
    width: 1920px;
    height: 640px;
}

.location .map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calc {
    width: 1175px;
    height: 650px;
    background-color: rgba(249, 214, 154, 0.77);
    position: relative;

}

.calculator .calc .line1 {
    /*margin: 0 0 0 60px;*/
    padding: 80px 0px 0px 60px;
    display: inline-block;
}

.calc .line1 div {
    display: inline-block;
}


.calc .line1 div {
    margin: -7px 17px -22px 0px;
}

.calc .line1 .depositAmount {
    padding: 0px 0px 0px 53px;
}

.calc .line1 .enterAmount {
    margin: 0px 0px 0px 0px;
}

.calc .depositAmount span:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    display: block;
}

.calc .profit {
    width: 100%;
    float: left;
    padding: 25px 50px;
}

.calc .profItem {
    width: 20%;
    float: left;
    padding: 0px 10px 20px;
}

.profitForm1 {
    background-color: #fcf0d9;
    height: 90px;
    width: 195px;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.11);
    border: 1px solid #05141b;
}

.profitForm3 {
    background-color: #fcf0d9;
    height: 90px;
    width: 195px;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.11);
    border: 1px solid #05141b;
}

.profitForm2 {
    background-color: #fcf0d9;
    height: 90px;
    width: 195px;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.11);
    border: 1px solid #05141b;
}

.calc .selectPlan label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
    display: block;
    padding: 0px;
}

.selectBl {
    width: 500px;
}

.selectBl .selectric {
    width: 100%;
    height: 55px;
    background-color: #fff;
}

.selectBl .selectric .label {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    padding: 10px 120px 0px 35px;
    margin: 0px 38px 0 0px;
}

.selectBl .selectric .button {
    position: absolute;
    right: 35px;
    top: 60%;
    width: 0px;
    height: 0px;
    margin-top: -2px;
    background-color: transparent;
}


.selectric .button:after {
    border: 8px solid transparent;
    border-top-color: #333333;
}

.selectBl .selectric-items {
    border: 1px solid #d6d6d6;
}

.selectBl .selectric-items li {
    padding: 0;
    padding-left: 10px;
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    background-color: #fff;
}

.selectBl .selectric-items li:hover {
    background-color: rgba(0,0,0,0.1);
}

.selectPlan select {
    display: block;
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    width: 500px;
    height: 55px;
    box-shadow: 8px 0px 11px 0px rgba(0, 0, 0, 0.11);
}

.enterAmount label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
}

.enterAmount input {
    display: block;
    width: 300px;
    height: 55px;
    box-shadow: 8px 0px 11px 0px rgba(0, 0, 0, 0.11);
}

.enterAmount .entNum {
    text-align: left;
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    padding-left: 10px;
    border: none;
}

.enterAmount span:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
}

.range label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #05141b;
}

.calc .range {
   margin: 50px 60px 50px 60px;
}

.range .irs-line {
    width: 1050px;
    height: 15px;
    border-radius: 0px;
    background-color: #05141b;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.21);
}

.range .irs-bar {
    height: 15px;
    background-color: #ff9001;
    border: 1px solid #05141b;
    border-radius: 0px;
}

.irs--flat.irs-with-grid {
    margin: 25px 0px;
}

.range .irs-grid {
    bottom: 20px;
    width: 1071px;
}

.range .irs-grid .irs-grid-text {
    display: none;
}

.range .irs-grid .irs-grid-pol {
    height: 25px;
    background-color: #05141b;
}

.range .irs-grid .irs-grid-pol:nth-last-child(2) {
    display: none;
}

.range .irs-handle {
    top: 2px;
    width: 61px;
    height: 59px;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer;
    background-image: url(../img/png/backRange.png);
}

.range .irs-handle i {
    display: none!important;
}


.range .irs-single {
    top: -30px;
    font-size: 15px;
    line-height: 24px;
    color: #ff9001;
    font-weight: bold;
    background-color: #05141b;
    border-radius: 0;
}

.range .irs-single::before {
    position: absolute;
    display: block;
    content: "";
    bottom: -8px;
    left: 44%;
    width: 10px;
    height: 0px;
    overflow: hidden;
    border: 8px solid transparent;
    border-top-color: #05141b;
    border-bottom: 0px;
}

.range .irs-min {
    top: 50px;
    left: -3px;
    font-size: 15px;
    line-height: 24px;
    color: #05141b;
    font-weight: bold;
    background-color: transparent;
}

.range .irs-max {
    top: 50px;
    right: 1px;
    font-size: 15px;
    line-height: 24px;
    color: #05141b;
    font-weight: bold;
    background-color: transparent;
}

.profit span:first-child {
    display: block;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}

.profit span:nth-child(2) {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}

.profit div[class^="profirForm"] {
    color: #05141b;
}

.profit div[class^="totalProfit"] {
    color: #ffffff;
}

.profit .totalProfit1 {
    background-color: #ff9001;
    height: 90px;
    width: 195px;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.11);
}

.profit .totalProfit2 {
    background-color: #ff692a;
    height: 90px;
    width: 195px;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.11);
}

.calc .getMoney {
    font-size: 18px;
    line-height: 40px;
    color: #05141b;
    text-align: center;
    padding-top: 55px;
}

.btnColor1 {
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    width: 210px;
    background-color: #05141b;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    left: 41%;
    bottom: -31px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.21);
}

.infoWrap {
    float: left;
    width: 100%;
    margin-top: 11px;
}

.about {
    width: 100%;
}

.about1 p {
    color: #ffffff;
}

.info {
    width: 50%;
    float: left;
    margin: -35px 0px -18px 0px;
}

.license {
    width: 25%;
    float: left;
}

.imgLicense {
    float: left;
    width: 25%;
}

.imgLicense img {
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.about1 {
    width: 100%;
    float: left;
}

.infoLicense {
    width: 260px;
    height: 375px;
    background-color: rgba(18, 28, 31, 0.77);
    text-align: left;
    padding: 20px 20px 5px 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.infoLicense > div {
     padding:  3px 0px 21px 32px;
}

.video {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.89);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.info p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 22px 50px 5px 0px;
}

.info b {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}

.license b {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.license p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.license span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ff9001;
}

.about1 p {
    font-size: 17px;
    line-height: 30px;
    padding: 55px 0px 0px;
}

.checkCompany {
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 260px;
    position: absolute;
    bottom: -32px;
    left: -1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+0,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 0%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
}

.about [class*="icon"] {
    font-size: 150px;
    color: #ff8d04;
}

.about a:last-child {
    text-decoration: none;
}

.video {
    width: 1170px;
    height: 640px;
    position: relative;
    border: 1px solid #736d59;
    margin: 110px 0px 130px
}

.video [class*="icon"] {
    line-height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    background-image: url(../img/png/videoback.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 100px;
}

.video a span[class="icon-video"] {
    position: absolute;
    top: 175px;
    left: 500px;
}

.video .captionVideo {
    display: block;
    padding: 332px;
    text-align: center;
    color: #ffffff;
}

.video .captionVideo span:first-child {
    display: block;
    font-size: 18px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 300;
}

.video .captionVideo span:last-child {
    font-size: 50px;
    line-height: 70px;
}

.advantages [class*="icon"] {
    font-size: 90px;
}

.advantages ul li {
    padding-bottom: 67px;
    position: relative;
}

.advantages .leftItem {
    width: 50%;
    float: left;
    text-align: left;
    position: relative;
    padding: 70px 0px 0px 25px
}

.leftItem span[class*="icon"] {
    display: block;
    position: absolute;
    left: -40px;
    top: -10px;
}

.rightItem span[class*="icon"] {
    display: block;
    position: absolute;
    right: -74px;
    top: -5px;
}

.leftItem ul li div {
    padding-left: 75px;
}

.rightItem ul li div {
    padding-right: 37px;
}

.advantages .rightItem {
    width: 50%;
    float: right;
    text-align: right;
    position: relative;
    padding: 70px;
}

/*.advantages .leftItem span:nth-child(even) {*/
/*font-size: 17px;*/
/*line-height: 30px;*/
/*font-weight: 700;*/
/*color: #05141b;*/
/*text-transform: uppercase;*/
/*}*/

.advantages .leftItem p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color: #05141b;
    margin-top: 15px;
}

/*.advantages .rightItem span:nth-child(even) {*/
/*font-size: 17px;*/
/*line-height: 30px;*/
/*font-weight: 700;*/
/*color: #05141b;*/
/*text-transform: uppercase;*/
/*}*/

.advantages .rightItem p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color: #05141b;
    margin-top: 15px;
}

.subscribe .tCell span:nth-child(1) {
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.subscribe .tCell span:nth-child(2) {
    display: block;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    color: #06151c;
}

.subWrap {
    display: table;
    padding: 70px 0px 60px;
}

.subWrap .tCell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
}

.btnBorder {
    display: block;
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    width: 270px;
    border: 3px solid #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.11);
    margin-left: 90px;
}

.statBefore {
    float: left;
    text-align: left;
}

.statAfter {
    float: right;
    text-align: left;
}

.tableTitle1 {
    position: relative;
    padding: 125px 0px 65px;

}

.tableTitle2 {
    position: relative;
    padding: 125px 0px 65px;
}

.statBefore .tableTitle1 [class*="icon"] {
    top: 134px;
    left: 0;
}

.statAfter .tableTitle2 [class*="icon"] {
    top: 134px;
    right: 0;
}

.statAfter .tableTitle2 .titleLight {
    padding-left: 125px;
}

.statBefore .tableTitle1 .titleLight {
    padding-left: 120px;
    display: block;
}

.statistics .table1 {
    display: table;
    width: 300px;
    box-shadow: 11px 0px 21px 0px rgba(0, 0, 0, 0.53);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.statistics .table1 li {
    display: table-row;
    height: 40px;
}

.statistics .table1 li span {
    display: table-cell;
    vertical-align: middle;
}

.statistics .table1 li .name {
    width: 145px;
    padding-left: 12px;
}

.statistics .table1 li .sum {
    text-align: left;
}

.statistics .table1 li .img {
    text-align: right;
    padding: 4px 4px 0px 0px;
    border-bottom: 1px solid #4e585d;
}

.statistics .table1 li img {
    text-align: right;
}

.statistics .table2 {
    display: table;
    width: 300px;
    box-shadow: 11px 0px 21px 0px rgba(0, 0, 0, 0.53);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.statistics .table2 li {
    display: table-row;
    height: 40px;
}

.statistics .table2 li span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.statistics .table2 li .name {
    width: 145px;
    padding-left: 10px;
}

.statistics .table2 li .sum {
    text-align: left;
}

.statistics .table2 li .img {
    text-align: right;
    padding: 4px 4px 0px 0px;
    border-bottom: 1px solid #4e585d;
}

.statistics .table2 li img {
    text-align: right;
}

.statistics [class*="icon"] {
    font-size: 85px;
    position: absolute;
}

.statistics .titleLight {
    font-size: 25px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.statistics .table1 span:first-child {
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 1px solid #4e585d;
}

.statistics .table1 span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    color: #ff692a;
    border-bottom: 1px solid #4e585d;
}

.statistics .table2 span:first-child {
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 1px solid #4e585d;
}

.statistics .table2 span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    color: #ffa42f;
    border-bottom: 1px solid #4e585d;
}

.diagramm div span {
    display: block;
}

.diagramm {
    width: 470px;
    height: 470px;
    left: 30%;
    top: 228px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.diagramm div:first-child {
    position: absolute;
    left: 40%;
    top: 140px;
    text-align: center;
}

.diagramm div:nth-child(2) {
    position: absolute;
    left: 110px;
    bottom: 150px;
    text-align: right;
}

.diagramm div:last-child {
    position: absolute;
    right: 140px;
    bottom: 150px;
    text-align: left;
}

.statistics .diagramm span:nth-child(odd) {
    font-size: 25px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
}

.statistics .diagramm span:nth-child(even) {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.statistics .statisticsText * {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    padding-bottom: 20px;
}

.statTextWrap {
    float: left;
    width: 100%;
    margin: 100px 0px 110px -5px;
}

.statisticsText {
    float: left;
    width: calc(100% - 715px);
    padding: 0px 150px 0px 0px;
}

.scaleStat {
    float: left;
    width: 715px;
    height: 320px;
    border: 1px solid #ffffff;
}

.tablesWrap {
    position: relative;
}

.tablesWrap .diagramm {
    display: block;
    position: absolute;
}


.referal p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-align: center;
    padding-top: 10px;
}

.referal p:nth-child(3) {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    text-align: center;
    padding-top: 45px;
}

.referal .referalTitle {
    padding: 43px;
    display: block;
    font-size: 40px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+0,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 0%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnBorderGrad {
    height: 60px;
    font-weight: 700;
    padding: 20px 45px;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    width: 270px;
    text-decoration: none;
    text-transform: uppercase;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+0,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 0%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.24);
    border: 3px solid rgba(252, 107, 40, 100);
}

.referal .procent {
    width: 470px;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    left: 30%;
    top: 35px;
    position: relative;
}

.referal .procent .big {
    position: absolute;
    left: 30%;
    top: 127px;
    font-size: 155px;
    font-weight: 700;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+0,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 0%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 0%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 27px 22px #000000;
}

.referal .signUp {
    text-align: center;
    padding: 50px 0 130px;
}

.payments .payList {
    display: table;
    width: 1170px;
    height: 115px;
}

.payments .payList li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.logoSpan1 {
    font-family: "Podkova";
    font-size: 20px;
    line-height: 20px;
    color: #ff9001;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.logoSpan2 {
    font-family: "Podkova";
    font-size: 62px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ff9001;
    text-align: left;
    font-weight: 700;
}

.logoSpan3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.65em;
    color: #ffffff;
    text-transform: uppercase;
}

.copyright {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.footMenu li {
    font-size: 15px;
    line-height: 50px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}

.footMenu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.footContacts span {
    font-size: 15px;
    line-height: 21px;
    color: #ff9001;
    font-weight: 700;
    text-transform: uppercase;
}

.footContacts span a {
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.footContacts span:nth-child(3) a {
    color: #ff6b28;
    text-decoration: underline;
    text-transform: none;
}

.logoFoot {
    float: left;
    padding: 100px 0;
}

.logoFoot span {
    display: block;
}

.logoFoot img {
    float: left;
}

.logoFoot img {
    margin-right: 15px;
}

.logoFoot span + span {
    padding-bottom: 10px;
}

.footMenu {
    float: left;
    padding: 85px 10px;
    margin-left: 80px;
}

.logoFoot div:nth-child(2) {
    padding: 0px 0px 60px 100px;
}

.footMenu ul {
    display: inline-block;
    padding: 0px 90px 0px 0px;
}

.footMenu li::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/png/list.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: calc(100% + 15px);
    top: 38%;
    margin-top: -7px;
}

.footContacts {
    float: left;
    padding: 75px 0;
}

.footContacts span {
    display: block;
    padding: 25px;
}

.footContacts span a {
    display: block;
}

/*страница EDIT*/

.headWrapEdit {
    position: relative;
    z-index: 1;
}

.headWrapEdit .backImg {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1575px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.user span:nth-child(2) {
    font-size: 15px;
    line-height: 20px;
    color: #ff9001;
}

.user span:nth-child(3) {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #ff9001;
}

.user a {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff692a;
}

.lastSeen span:first-child {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.lastSeen span:nth-child(even) {
    font-size: 15px;
    line-height: 20px;
    color: #ff9001;
    font-weight: 700;
}

.lastSeen span:nth-child(3) {
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
}

.deposit span {
    font-size: 24px;
    line-height: 100px;
    color: #05141b;
    text-transform: uppercase;

}

.withdraw span {
    font-size: 24px;
    line-height: 100px;
    color: #05141b;
    text-transform: uppercase;
}

.yourBalance > span:nth-child(2) {
    display: block;
    font-size: 20px;
    line-height: 52px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 33px 0px 0px;
    text-align: right;
}

.yourBalance > span:last-child {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff9001;
    padding: 0px 0px 0px 106px;
}

.tablePay span {
    display: table-cell;
    font-size: 20px;
    line-height: 53px;
    color: #ff9001;
    font-weight: 700;
    vertical-align: middle;
}

.tablePay li + li span {
    border-top: 1px solid #494a46;
}

.tablePay li span:first-child {
    width: 60px;
}

.headMenuEdit li {
    display: inline-block;
}

header .headMenuEdit a {
    font-size: 15px;
    line-height: 49px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 0px 11px;
    display: block;
}

.editAccount h2 {
    position: relative;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 105px 0px 125px;
}

.editAccount h2::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    background-color: #ff9001;
    margin-top: -80px;
}

.editAccount h3 {
    font-size: 24px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-right: 20px;
}

.editAccount h3::before {
    content: '';
    display: block;
    width: 4px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    background-color: #ff9001;
    top: -60px;
}

.editAccount label {
    font-size: 17px;
    line-height: 60px;
    color: #ffffff;
}

.editAccount input {
    font-size: 15px;
    line-height: 100px;
    color: #989898;
    width: 310px;
    height: 47px;
}

.editAccount label span {
    color: #ff6a29;
}

.editForm button {
    font-size: 17px;
    height: 40px;
    width: 360px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #fc6b28;
    text-align: center;
    margin: 58px 0px 0px;
    background-color: transparent;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff692a+1,ff9001+100 */
    background: #ff692a; /* Old browsers */
    background: -moz-linear-gradient(left, #ff692a 1%, #ff9001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff692a 1%, #ff9001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff692a 1%, #ff9001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff692a', endColorstr='#ff9001', GradientType=1); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #ff692a 1%, #ff9001 100%);
    border-image-slice: 1;
}

.editCopyright span {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

.editContacts [class*="icon"] {
    font-size: 55px;
}

.welcome [class*="icon"] {
    font-size: 55px;
    position: absolute;
    top: 13px;
    right: -78px;
}

header .editContacts a:not(.supp) {
    text-decoration: none;
}

.personal div {
    display: inline-block;
}

.editContact a {
    font-size: 33px;
    line-height: 20px;
    font-weight: 700;
    color: #ff692a;
    display: block;
    text-align: center;
    padding: 15px 0px 0px 15px;
}

.editContact span {
    font-size: 18px;
    line-height: 15px;
    vertical-align: top;
}


.editAccount {
    padding-bottom: 30px;
}

.editContact .supp {
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #ff9001;
}

.personal .welcome span:first-child {
    display: block;
    line-height: 30px;
    color: #ffffff;
}

.welcome .userName {
    font-size: 17px;
    line-height: 30px;
    color: #ff9001;
    font-weight: 700;
}

.welcome a {
    text-decoration: none;
}

.personal .editContacts {
    float: left;
    margin: 54px 0px 0px -100px;
}

.welcome {
    float: left;
    margin: 63px 0px 0px 110px;
    position: relative;

}

.personalData {
    margin: 0 -21px;
}

.personalData .lastSeen div {
    padding: 10px 95px 10px 20px
}

.personalData [class*="icon"] {
    font-size: 55px;
    position: absolute;
    top: 12px;
    left: 25px;
}

.personalData .itemData {
    width: 25%;
    float: left;
    padding: 30px 22px;
}

.personalData .user div {
    padding: 0px 0px 14px 2px;
    color: #ffffff;
}

.itemData .user {
    display: block;
    background-color: rgba(35, 28, 25, 0.55);
    padding: 20px 0px 17px 105px;
    position: relative;
    border: 1px solid #4d5254;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.personalData .user img {
    position: absolute;
    top: 25px;
    left: 25px;
}

.itemData .lastSeen {
    display: block;
    background-color: rgba(35, 28, 25, 0.55);
    border: 1px solid #4d5254;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.itemData .deposit {
    position: relative;
    display: block;
    background-color: #ff692a;
    text-align: center;
    padding: 12px 0px 12px 65px;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.itemData .withdraw {
    position: relative;
    display: block;
    background-color: #ff9001;
    text-align: center;
    padding: 12px 0px 12px 65px;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.menuEditWrap {
    width: 100%;
    height: 55px;
    background-color: #05141b;
}

/*.balance .tablePay {*/
/*float: left;*/
/*width: 75%;*/
/*}*/

.tablePay ul {
    display: table;
    width: 100%;
}

.tablePay li span {
    width: 220px;
}

.tablePay li {
    display: table-row;
}

/*.editWrap {*/
    /*float: left;*/
    /*width: 100%;*/
/*}*/

.editForm {
    float: left;
    width: 33.333%;
}

.editWrap .editForm form {
    width: 360px;
    height: 400px;
    border: 1px solid #4e585d;
    padding: 0px 25px 0px 25px;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.balance [class*="icon"] {
    font-size: 55px;
    position: absolute;
    top: 25px;
    left: 20px;
}

.balance .yourBalance {

    width: 300px;
    position: relative;
}

.balance .tablePay .tablePayList {
    width: 33.3333333%;
    float: left;
    background-color: rgba(12, 9, 7, 0.55);
    display: table;
    border-right: 1px solid #4d5254;
}

.balance .balanceWrap {
    width: 25%;
    height: 110px;
    background-color: rgba(56, 37, 19, 0.55);
    float: left;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.balance .tablePay {
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
    width: 75%;
    float: left;
}

.tablePayList img {
    padding: 7px 0px 12px 7px;
    display: table-cell;
}

.balance {
    border: 1px solid #4d5254;
    margin: 13px 0 23px;
}

.tablePay .tablePayList:last-child {
    border-right: none;
}

.headMenuEdit {
    border: 1px solid #4d5254;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
}

.headMenuEdit a:hover,.headMenuEdit a.active {
    color: #05141b;
    background-color: #ff692a;
}

.editForm input {
    background-color: #06141b;
    border: 1px solid #4f595e;
    box-shadow: 11px 11px 21px 0px rgba(0, 0, 0, 0.53);
    padding-left: 10px;
}

.editCopyright {
    text-align: center;
    margin-top: 30px;
}

.itemPay div {
    display: inline-block;
    margin: 6px 0px 7px 0px;
    position: relative;
}

.itemPay {
    padding-top: 20px;
}

.itemPay div img {
    position: absolute;
    top: 4px;
    right: 4px;
}

/*АНИМАЦИЯ !!!*/

@keyframes buttonAnimation {
    0% {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.2;
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.6;
    }
    75% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.menuSelect {
    display: none;
}

/*ЧАСЫ ДЛЯ ПРОЕКТА!!!*/

.clock {
    float: left;
    margin: 10px 0px 0px 60px;
}

.clock .date {
    font-size: 18px;
    line-height: 20px;
    color: #ff9001;
}

.clock .time {
    display: block;
    font-size: 45px;
    line-height: 40px;
    color: #ff9001;
    font-weight: 400;
}