* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Roboto Slab";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}


.headWrap {
    position: relative;
    z-index: 1;
}

.headWrap .backImg {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1650px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.bodyWrap {
    overflow: hidden;
}

header .logo {
    width: 50%;
    float: left;
    margin-top: 60px;
}

.logo span {
    display: block;
}

.logo img {
    float: left;
}

.logo img {
    margin-right: 15px;
}

.logo span + span {
    padding-bottom: 10px;
}

.logoSpan1 {
    font-family: "Podkova";
    font-size: 20px;
    line-height: 20px;
    color: #ff9001;
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
}

.logoSpan2 {
    font-family: "Podkova";
    font-size: 62px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ff9001;
    text-align: left;
    font-weight: 800;
}

.logoSpan3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.6em;
    color: #ffffff;
    text-transform: uppercase;
}

.contacts {
    width: 50%;
    float: right;
    padding-top: 60px;
    display: inline-block;
}

.contacts a {
    display: block;
    text-align: center;
    margin: 20px;
}

.contacts {
    position: relative;
}

.contact {
    margin-top: -30px;
    padding-left: 210px;
}

.contacts span[class="icon-soc1"] {
    display: block;
    position: absolute;
    left: 200px;
    top: 60px;
}

.contacts span[class="icon-support"] {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
}

span[class*="icon"] .path2, [class*="icon"]
.path2::before {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.contacts .phone span {
    font-size: 33px;
    line-height: 20px;
    color: #ff692a;
    text-decoration: none;
}

.contacts .phone a {
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
    color: #ff692a;
}

header .supp {
    font-size: 17px;
    line-height: 20px;
    text-decoration: underline;
    color: #ff9001;
    font-weight: 300;
    letter-spacing: 0.05em;
}

header .contacts [class*="icon"] {
    font-size: 55px;
}

header .contacts a:not(.supp) {
    text-decoration: none;
}

.menu {
    width: 100%;
    float: left;
    padding-top: 75px;
}

.menu .headMenu li {
    display: inline-block;
}

.headMenu li + li {
    margin-left: 75px;
}

header .headMenu a {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.welcome span {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.welcome .userName {
    font-size: 17px;
    line-height: 30px;
    color: #ff9001;
    font-weight: 700;
}

.tagline {
    text-align: left;
    margin-top: 150px;
}

.tagline1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.tagline2 {
    font-family: Podkova;
    font-size: 133px;
    line-height: 133px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.tagline3 {
    font-size: 25px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.35em;
}

.logSub a {
    display: inline-block;
    margin-right: 30px;
    margin-top: 125px;
}

.btnColor2 {
    display: block;
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff692a;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.btnColor3 {
    display: block;
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: #ff9001;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}
.loginOffers .captionLight {
    margin-top: 245px;
}

.captionLight {
    text-align: center;
}

.captionDark {
    text-align: center;
}

.captionLight span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

.captionLight h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #ffffff;
}

.captionLight b {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #ffffff;
}

.captionDark span {
    font-size: 18px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #333333;
}

.captionDark h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #333333;
}

.sliderOffers [class*="icon"] {
    font-size: 92px;
}

.sliderOffers span:first-child {
    font-size: 70px;
    line-height: 40px;
    font-weight: 700;
    color: #333333;
}

.sliderOffers span:nth-child(3) {
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    color: #ff9001;
}

.sliderOffers span:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    color: #ff692a;
    font-weight: 300;
}

.calculator {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.statistics {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.referal {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.payments {
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.location {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calc {
    width: 1175px;
    height: 650px;
    background-color: rgba(249, 214, 154, 0.77);
}

.calculator .line1 {
    display: inline-block;
    margin-left: 40px;
    width: 100%;
    padding-top: 80px;
}

.selectPlan {
    width: 50%;
    float: left;
    display: block;
}

.enterAmount {
    width: 30%;
    float: left;
    display: block;
}

.depositAmount {
    width: 20%;
    float: right;
    display: block;
    padding-left: 150px;
    padding-top: -110px;
}

.profit {
    width: 100%;
    float: left;
    margin: 0 -20px;
}

.profitForm1 {
    width: 190px;
    height: 90px;
    float: left;
    padding: 0 20px;
    background-color: #fceed9;
    display: block;
}

.profitForm2 {
    display: block;
    width: 190px;
    height: 90px;
    float: left;
    padding: 0 20px;
    background-color: #fceed9;
}

.profitForm3 {
    display: block;
    width: 190px;
    height: 90px;
    float: left;
    padding: 0 20px;
    background-color: #fceed9;
}

.totalProfit1 {
    display: block;
    width: 190px;
    height: 90px;
    float: left;
    padding: 0 20px;
}

.totalProfit2 {
    display: block;
    width: 190px;
    height: 90px;
    float: left;
    padding: 0 20px;
}

.selectPlan label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
}

.selectPlan option {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
}

.enterAmount label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
}

.enterAmount span:first-child {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
}

.enterAmount span:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
}

.runner label {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #05141b;
}

.profit span:first-child {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}

.profit span:nth-child(2) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}

.profit div[class^="profirForm"] {
    color: #05141b;
}

.profit div[class^="totalProfit"] {
    color: #ffffff;
}

.profit div:nth-child(4) {
    background-color: #ff9001;
}

.profit div:last-child {
    background-color: #ff692a;
}

.calculator p {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    text-align: center;
}

.btnColor1 {
    font-size: 17px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    width: 210px;
    background-color: #05141b;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.about {
    float: left;
    width: 100%;
}

.about1 p {
    color: #ffffff;
}
.info {
    width: 50%;
    float: left;
}

.license {
    width: 50%;
    float: right;
    margin-right: -20px;
}

.about1 {
    width: 100%;
    float: left;
}

.item1 {
    width: 260px;
    height: 400px;
    background-color: rgba(18, 28, 31, 0.77);
}


.video {
    width: 100%;
    float: left;
}

.info p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.info b {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}

.license b {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.license p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.license span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ff9001;
}

.checkCompany {
    font-size: 17px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    width: 260px;
    background-color: #fb6c28;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.about [class*="icon"] {
    font-size: 150px;
    color: #ff8d04;
}

.about a:last-child {
    text-decoration: none;
}

.advantages [class*="icon"] {
    font-size: 60px;
    color: #ffa42f;
}

.leftItem {
    width: 50%;
    float: left;
    text-align: left;
    position: relative;
}

.leftItem span[class*="icon"] {
    display: block;
    position: absolute;
    left: 0;
}

.rightItem span[class*="icon"] {
    display: block;
    position: absolute;
    right: 0;
}

.rightItem {
    width: 50%;
    float: right;
    text-align: right;
    position: relative;
}

.advantages .leftItem span:nth-child(even) {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
}

.advantages .leftItem p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color: #05141b;
}

.advantages .rightItem span:nth-child(even) {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-transform: uppercase;
}

.advantages .rightItem p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color: #05141b;
}

.subscribe span:nth-child(2) {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.subscribe span:nth-child(3) {
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    color: #06151c;
}

.subWrap {
    display: table;
}

.subWrap span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.subWrap .btnBorder {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.btnBorder {
    display: block;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    width: 270px;
    border: 2px solid #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.statBefore {
    float: left;
    text-align: left;
}

.statAfter {
    float: right;
    text-align: right;
}

.statistics .table1 {
    display: table;
    width: 100%;
}

.statistics .table1 li {
    display: table-row;
    height: 40px;
}

.statistics .table1 li span {
    display: table-cell;
    vertical-align: middle;
}

.statistics .table1 li .name {
    width: 300px;
    padding-left: 20px;
}

.statistics .table1 li .sum {
    text-align: left;
    padding-right: 150px;
}

.statistics .table1 li img {
    text-align: right;
}

.statistics .table2 {
    display: table;
    width: 100%;
}

.statistics .table2 li {
    display: table-row;
    height: 40px;
}

.statistics .table2 li span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.statistics .table2 li .name {
    width: 300px;
    padding-left: 20px;
}

.statistics .table2 li .sum {
    text-align: left;
    padding-right: 150px;
}

.statistics .table2 li img {
    text-align: right;
}

.statistics [class*="icon"] {
    font-size: 85px;
}

.statistics .titleLight {
    font-size: 25px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.statistics .table1 span:first-child {
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
}

.statistics .table1 span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    color: #ff692a;
}

.statistics .table2 span:first-child {
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
}

.statistics .table2 span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    color: #ffa42f;
}

.statistics .diagramm span:nth-child(odd) {
    font-size: 25px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
}

.statistics .diagramm span:nth-child(even) {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.statistics .statisticsText * {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.referal p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #05141b;
    text-align: center;
}

.referal p:nth-child(3) {
    font-size: 17px;
    line-height: 30px;
    color: #05141b;
    text-align: center;
}

.referal .procent .big {
    font-size: 155px;
    line-height: 57px;
    font-weight: 700;
    color: #05141b;
    text-align: center;
}

.referal .referalTitle {
    font-size: 40px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff6b28;
    text-align: center;
}

.btnBorderGrad {
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    color: #ff6b28;
    width: 270px;
    border: 2px solid #ff6b28;
    text-decoration: none;
    text-transform: uppercase;
}

.payments .payList {
    display: table;
    width: 1170px;
    height: 115px;
}

.payments .payList li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.logoSpan1 {
    font-family: "Podkova";
    font-size: 20px;
    line-height: 20px;
    color: #ff9001;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.logoSpan2 {
    font-family: "Podkova";
    font-size: 62px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ff9001;
    text-align: left;
    font-weight: 700;
}

.logoSpan3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.6em;
    color: #ffffff;
    text-transform: uppercase;
}

.copyright {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.footMenu li {
    font-size: 15px;
    line-height: 50px;
    font-weight: 700;
}

.footMenu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.footContacts span {
    font-size: 15px;
    line-height: 21px;
    color: #ff9001;
    font-weight: 700;
    text-transform: uppercase;
}

.footContacts span a {
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
}

.footContacts span:nth-child(3) a {
    color: #ff6b28;
    text-decoration: underline;
    text-transform: none;
}

.logoFoot {
    width: 25%;
    float: left;
}

.logoFoot span {
    display: block;
}

.logoFoot img {
    float: left;
}

.logoFoot img {
    margin-right: 15px;
}

.logoFoot span + span {
    padding-bottom: 10px;
}

.footMenu ul {
    display: inline-block;
    margin-left: 30px;
}

footer .leftMenu li {
    display: inline-block;
}

footer .rightMenu li {
    display: inline-block;
}

.footContacts {
    float: right;
}

.footContacts span {
    display: block;
    margin-left: 20px;
    padding: 10px;
}

.footContacts span a {
    display: block;
}

