@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g2swn9');
  src:  url('fonts/icomoon.eot?g2swn9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g2swn9') format('truetype'),
    url('fonts/icomoon.woff?g2swn9') format('woff'),
    url('fonts/icomoon.svg?g2swn9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soc1:before {
  content: "\e900";
}
.icon-support:before {
  content: "\e903";
}
.icon-offer1:before {
  content: "\e907";
}
.icon-offer2:before {
  content: "\e90b";
}
.icon-offer3:before {
  content: "\e90e";
}
.icon-offer4:before {
  content: "\e910";
}
.icon-offer6:before {
  content: "\e912";
}
.icon-offer5:before {
  content: "\e914";
}
.icon-offer8:before {
  content: "\e916";
}
.icon-offer7:before {
  content: "\e918";
}
.icon-vip:before {
  content: "\e91a";
  color: #ff692a;
}
.icon-video:before {
  content: "\e91b";
}
.icon-adv1:before {
  content: "\e91d";
}
.icon-adv2:before {
  content: "\e91f";
}
.icon-adv3:before {
  content: "\e922";
}
.icon-adv4:before {
  content: "\e925";
}
.icon-adv5:before {
  content: "\e929";
}
.icon-adv6:before {
  content: "\e92b";
}
.icon-lastDepLight:before {
  content: "\e92e";
}
.icon-lastWithLight:before {
  content: "\e930";
}
.icon-rightLight:before {
  content: "\e932";
}
.icon-leftLight:before {
  content: "\e933";
}
.icon-note2:before {
  content: "\e934";
  color: #ffa42f;
}
.icon-adv7:before {
  content: "\e935";
}
.icon-adv9 .path1:before {
  content: "\e938";
  color: rgb(255, 164, 47);
}
.icon-adv9 .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path6:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path8:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv9 .path9:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-adv8 .path1:before {
  content: "\e941";
  color: rgb(255, 164, 47);
}
.icon-adv8 .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logOut:before {
  content: "\e943";
}
.icon-balanceLight:before {
  content: "\e945";
}
.icon-lastDepDark:before {
  content: "\e949";
}
.icon-lastWithDark:before {
  content: "\e94a";
}
.icon-advDark:before {
  content: "\e94b";
}
.icon-timer:before {
  content: "\e94c";
}
.icon-balanseDark:before {
  content: "\e94d";
}
.icon-questionLight:before {
  content: "\e94e";
}
.icon-questionDark:before {
  content: "\e950";
}
.icon-date:before {
  content: "\e951";
  color: #ff692a;
}
.icon-note1:before {
  content: "\e952";
}
.icon-plus:before {
  content: "\e955";
}
.icon-minus:before {
  content: "\e956";
}
.icon-rightDark:before {
  content: "\e957";
}
.icon-leftDark:before {
  content: "\e958";
}
.icon-mail:before {
  content: "\e959";
}
.icon-adress:before {
  content: "\e95b";
}
